<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./assets/images/userLogo.jpg" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <br>
        <h4 class="text-center">User profile management application allows to perform CRUD operations.</h4>
        <br>
        <ul>
             <li>Create an User profile</li>
             <li>View an existing User profile</li>
             <li>Update an existing user profile</li>
             <li>List all user profiles</li>
             <li>Filter profiles</li>
             <li>Delete an User profile </li>
        </ul>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h6 class="text-center">Suresh Kurki</h6>

            <div class="text-center"></div>
            <div class="text-center">
                <a href="User Profile Management">User Profile Management</a>
            </div>
        </div>
    </div>
</div>